.formulario{
    color:white;
}

.create{
    font: normal normal normal 40px/86px Yeseva One;
    letter-spacing: 0px;
    color: #FFC400;
    opacity: 1;
    margin: 0px;
    padding: 0px;
    top: 326px;
    left: 46px;
    width: 630px;
    height: 84px;
}

.redSub{
    color: orangered;
    font:normal normal 300 20px/25px Montserrat;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 160px;
}

.red{
    color: orangered;
    font:normal normal 300 20px/25px Montserrat;
}

.form1{
  font:normal normal 300 20px/25px Montserrat;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-left: 100px;
}

.botonAgregar{
    border: none;
    cursor: pointer;
    color: white;
    background: #FFCA1A 0rem 0rem no-repeat padding-box;
border-radius: 70px;
width: 260px;
height: 60px; 
text-align: center;
font: normal normal 300 30px/49px Montserrat;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
margin-top: 20px;
}

.checkboxs{
    column-count: 5;
    display: inline;
}

.caja{
    border-radius: 5px;
    outline: none;
    resize: none;
}

.botonBack{
    border: none;
    cursor: pointer;
    color: white;
    background: #FFCA1A 0rem 0rem no-repeat padding-box;
border-radius: 70px;
width: 260px;
height: 60px; 
text-align: center;
font: normal normal 300 30px/49px Montserrat;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
right: 800px;
top: 275px;
position: absolute;
}

.orden{
    display: flex;
    justify-content: center;
}

.tamañoInput{
    width: 600px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.pad{
    padding-left: 200px;
}

.cajitas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 520px;
}

.spaciar{
    padding-right: 20px;
}