.filter{
    background: #131217;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.espaciado{
    display: flex;
    justify-content: space-evenly;
    margin: 5px
}

.margen{
    margin: 5px
}