@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

.nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #131217 0% 0% no-repeat padding-box;
  justify-content: space-between;
  color: white;
  margin-left: 80px;
}

.titulo{
display: flex;
align-items: center;
font-weight:600;
flex-direction: column;
background: #FFFFFF00 0% 0% no-repeat padding-box;
border: 2px solid #FFFFFF;
opacity: 1;
width: 269px;
height: 133px;
}

.foodTitle{
  font: normal normal 300 30px/49px Montserrat;
  color:#FFC400;
}

.henryTitle{
  font: normal normal normal 60px/86px Yeseva One;
  color:white
}

